@page "/Tecnico/Create"
@inject TecnicoService tecnicoService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>
<EditForm Model="Tecnico" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Tecnico</h5>
            </div>

            <div class="card-body">
                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>TecnicoId</strong></label>
                    <InputNumber class="form-control" @bind-Value="Tecnico.TecnicoId" READONLY></InputNumber>
                </div>

                @*Nombres*@
                <div class="mb-3">
                    <label class="form-label" for="nombres"><strong>Nombre</strong></label>
                    <InputText id="nombres" class="form-control" @bind-Value="Tecnico.Nombres"></InputText>
                    <ValidationMessage For="@(()=> Tecnico.Nombres)"></ValidationMessage>
                </div>

                @*Sueldo Hora*@
                <div class="mb-3">
                    <label class="form-label" for="sueldo"><strong>Sueldo por hora</strong></label>
                    <InputNumber id="sueldo" class="form-control" @bind-Value="Tecnico.SueldoHora"></InputNumber>
                    <ValidationMessage For="@(()=> Tecnico.SueldoHora)"></ValidationMessage>
                </div>

            </div>

            @* footer *@
            <div class="card-footer text-center mt-3">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Tecnico/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Tecnicos Tecnico { get; set; } = new Tecnicos();
    public bool NombreRepetido { get; set; }
    [Inject] protected ToastService ToastService { get; set; }

    public Create(ToastService toastService)
    {
        ToastService = toastService;
    }

    public async Task Crear()
    {
        if (!await Validar())
        {
            await tecnicoService.Guardar(Tecnico);
            ToastService.Notify(new(ToastType.Success, "Exito", $"Técnico Creado correctamente."));
            Tecnico = new Tecnicos();
            navigation.NavigateTo("/Tecnico/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger,"Error", $"Ya existe un técnico con ese nombre."));
        }
    }
    public void Nuevo()
    {
        Tecnico = new Tecnicos();
    }

    public async Task<bool> Validar()
    {
        var existeTecnico = await tecnicoService.BuscarNombres(Tecnico.Nombres);
        return existeTecnico != null;
    }
}
