@page "/Sistemas/Create"
@inject SistemaServices sistemaService
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Create</PageTitle>
<EditForm Model="Sistema" OnValidSubmit="Crear">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="container">
        <div class="card shadow-lg">
            <div class="card-header text-center">
                <h5 class="card-title">Crear Sistema</h5>
            </div>

            <div class="card-body">
                @*Id*@
                <div class="mb-3">
                    <label class="form-label"><strong>SistemasId</strong></label>
                    <InputNumber class="form-control" @bind-Value="Sistema.SistemasId" READONLY></InputNumber>
                </div>

                @*Descripcion*@
                <div class="mb-3">
                    <label class="form-label" for="Descripcion"><strong>Descripcion</strong></label>
                    <InputText id="Descripcion" class="form-control" @bind-Value="Sistema.Descripcion"></InputText>
                    <ValidationMessage For="@(()=> Sistema.Descripcion)"></ValidationMessage>
                </div>

                @*Complejidad*@
                <div class="mb-3">
                    <label class="form-label" for="Complejidad"><strong>Complejidad</strong></label>
                    <InputNumber id="Complejidad" class="form-control" @bind-Value="Sistema.Complejidad"></InputNumber>
                    <ValidationMessage For="@(()=> Sistema.Complejidad)"></ValidationMessage>
                </div>

            </div>

            @* footer *@
            <div class="card-footer text-center mt-3">
                <button type="button" class="btn btn-outline-primary ml-2" @onclick="Nuevo"><span class="bi bi-plus"></span> Nuevo </button>
                <button type="submit" class="btn btn-outline-success ml-2"><span class="bi bi-check-circle-fill"></span> Guardar </button>
                <a type="button" href="/Sistemas/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
            </div>
        </div>
    </div>
</EditForm>


@code {
    public Sistemas Sistema { get; set; } = new Sistemas();
    [Inject] protected ToastService ToastService { get; set; }

    public Create(ToastService toastService)
    {
        ToastService = toastService;
    }

    public async Task Crear()
    {
        if (Sistema.SistemasId == 0)
        {
            await sistemaService.Guardar(Sistema);
            ToastService.Notify(new(ToastType.Success, "Exito", $"Sistema Creado correctamente."));
            Sistema = new Sistemas();
            navigation.NavigateTo("/Sistemas/Index");
        }
        else
        {
            ToastService.Notify(new(ToastType.Danger, "Error", $"No se puedo Crear el Sistemas."));
        }
    }
    public void Nuevo()
    {
        Sistema = new Sistemas();
    }

}

