@page "/Sistemas/Index"
@rendermode InteractiveServer
@inject SistemaServices sistemaService
@inject NavigationManager navigation

<PageTitle>Sistemas</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title m-0">Registro Sistema</h5>
            <a href="/Sistemas/Create" class="btn btn-primary">
                <span class="bi bi-plus-square"></span> Crear
            </a>
        </div>

        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">SistemaId</option>
                        <option value="Descripcion">Descripcion</option>
                        <option value="Complejidad">Complejidad</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="valorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

            </div>

            <table class="table table-hover table-bordered text-center">
                <thead class="table  table-striped text-black">
                    <tr>
                        <th>Id</th>
                        <th>Descripcion</th>
                        <th>Complejidad</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var sistema in Sistema)
                    {
                        <tr>
                            <td>@sistema.SistemasId</td>
                            <td>@sistema.Descripcion</td>
                            <td>@sistema.Complejidad</td>
                            <td class="text-center">
                                <a href="/Sistemas/Edit/@sistema.SistemasId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                            <td class="text-center">
                                <a href="/Sistemas/Delete/@sistema.SistemasId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Sistemas> Sistema = new List<Sistemas>();
    private string filtro = "";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        Sistema = await sistemaService.Listar(t => true);
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int SistemaId))
            {
                Sistema = await sistemaService.Listar(s => s.SistemasId == SistemaId);
            }
            else if (filtro == "Descripcion")
            {
                Sistema = await sistemaService.Listar(s => s.Descripcion.ToLower().Contains(valorFiltro.ToLower()));
            }
            else if (filtro == "Complejidad" && int.TryParse(valorFiltro, out int Complejidad))
            {
                Sistema = await sistemaService.Listar(s => s.Complejidad == Complejidad);
            }

        }
        else
        {
            Sistema = await sistemaService.Listar(p => true);
        }
    }
}
