@page "/Ciudades/Delete"
@page "/Ciudades/Delete/{CiudadesId:int}"
@inject CiudadeServices ciudadesServices
@inject NavigationManager navigation
@rendermode InteractiveServer

<PageTitle>Eliminar Ciudades</PageTitle>
<EditForm Model="Ciudades" OnValidSubmit="Eliminar">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="card shadow-lg">
            @*Header*@
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="card-title m-0">Tipo tecnico</h5>
            </div>
            @*Body*@
            <div class="card-body">
                <h7><strong>¿Est&aacute;s seguro de que quieres eliminar esta ciudad?</strong></h7>
                @*Datos*@
                <div class="mb-1">
                    <p class="mb-0">CiudadesId: @Ciudades.CiudadesId</p>
                </div>
                <div class="mb-1">
                    <p class="mb-0">Nombre: @Ciudades.Nombres </p>
                </div>
            </div>
            @*Footer*@
            <div class="card-footer text-center mt-3">
                <a type="button" href="/Ciudades/Index/" class="btn btn-outline-danger"><span class="bi bi-arrow-bar-left"></span> Volver </a>
                <button type="button" class="btn btn-outline-danger ml-2" @onclick="Eliminar"><span class="bi bi-check-circle-fill"></span> Eliminar </button>
            </div>
        </div>
    </div>

</EditForm>

@code {
    [Parameter]
    public int CiudadesId { get; set; }
    public Ciudades Ciudades { get; set; } = new Ciudades();
    [Inject] protected ToastService ToastService { get; set; }

    public Delete(ToastService toastService)
    {
        ToastService = toastService;
    }

    protected override async Task OnInitializedAsync()
    {
        if (CiudadesId > 0)
        {
            Ciudades = await ciudadesServices.Buscar(CiudadesId);
        }
    }

    public async Task Eliminar()
    {
        if (Ciudades != null)
        {
            var eliminar = await ciudadesServices.Eliminar(CiudadesId);
            if (eliminar)
            {
                ToastService.Notify(new(ToastType.Success, "Exito", $"Ciudad eliminado correctamente."));
                navigation.NavigateTo("/Tecnico/Index");
            }
            else
            {
                ToastService.Notify(new(ToastType.Danger, "Eliminar", $"Error al eliminar Ciudad."));

            }
        }
    }

}
