@page "/Ciudades/Index"
@rendermode InteractiveServer
@inject CiudadeServices ciudadesService
@inject NavigationManager navigation

<PageTitle>Ciudades</PageTitle>
<div class="container">
    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="card-title m-0">Registro Ciudades</h5>
            <a href="/Ciudades/Create" class="btn btn-primary">
                <span class="bi bi-plus-square"></span> Crear
            </a>
        </div>
        <div class="card-body">

            @*labels*@
            <div class="row">

                @*Filtrar por*@
                <div class="col-3">
                    <label class="col-form-label"><strong>Filtrar por</strong></label>
                </div>

                @*ValorFiltro*@
                <div class="col-4">
                    <label class="col-form-label"><strong>B&uacute;squeda</strong></label>
                </div>
            </div>

            @*Inputs y botones*@
            <div class="row align-items-center">
                @*filtro*@
                <div class="col-3">
                    <InputSelect class="form-select" @bind-Value="filtro">
                        <option value="" selected disabled>Elija una opci&oacute;n</option>
                        <option value="Id">CiudadesId</option>
                        <option value="Nombres">Nombres</option>
                    </InputSelect>
                </div>

                @*Busqueda*@
                <div class="col-4">
                    <div class="input-group">
                        <input class="form-control" @bind="valorFiltro" placeholder="Buscar" />
                        <button type="button" class="btn btn-outline-primary bi bi-search" @onclick="Buscar"></button>
                    </div>
                </div>

            </div>

            <table class="table table-hover table-bordered text-center">
                <thead class="table  table-striped text-black">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var ciudades in Ciudades)
                    {
                        <tr>
                            <td>@ciudades.CiudadesId</td>
                            <td>@ciudades.Nombres</td>
                            <td class="text-center">
                                <a href="/Ciudades/Edit/@ciudades.CiudadesId" class="btn btn-outline-primary bi bi-pencil-square"></a>
                            </td>
                            <td class="text-center">
                                <a href="/Ciudades/Delete/@ciudades.CiudadesId" class="btn btn-outline-danger bi bi-trash"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    public List<Ciudades> Ciudades = new List<Ciudades>();
    private string filtro = "";
    private string valorFiltro = "";

    protected override async Task OnInitializedAsync()
    {
        Ciudades = await ciudadesService.Listar(t => true);
    }

    private async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "id" && int.TryParse(valorFiltro, out int ciudadeId))
            {
                Ciudades = await ciudadesService.Listar(c => c.CiudadesId == ciudadeId);
            }
            else if (filtro == "Nombres")
            {
                Ciudades = await ciudadesService.Listar(t => t.Nombres.ToLower().Contains(valorFiltro.ToLower()));
            }

        }
        else
        {
            Ciudades = await ciudadesService.Listar(p => true);
        }
    }
}
